.App {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


.userInfo {
  display: flex;
  gap: 10px;
}
.user {
  display: flex;
  gap: 10px;
}