.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  padding: 20px 10px;

  margin: 0 auto;

  border: 1px solid black;
  border-top: 0; /* 위 border 제거 */
  border-radius: 0 0 16px 16px; /* 아래만 둥글게 */

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* 그림자 */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0; 
  padding: 0; 
}

